body {
  background: #B2456E;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  background-color:  #FBEAE7;
  width: 600px;
  margin: 120px auto;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 10px;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-family: "Segoe UI";
  color: #B1446D;
  text-align: center;
  font-style: italic;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}
h2 {
  font-family: "Segoe UI";
  font-size: 18px;
  text-align: center;
  font-style: italic;
  line-height: 1.5;
}
.form-container {
  margin-bottom: 20px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 20px 60px rgb(178, 69, 110);
}
form {
  display: flex;
}
.instructions {
  text-align: justify;
  font-size: 18px;
  color: #272044;
  line-height: 20px;
  border: 1px solid #B1446D;
  border-radius: 50px;
  padding: 16px;
  width: 80%;
}
.submit-button {
  background: #B1446D;
  color: black;
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 24px;
}
.hint {
  font-size: 12px;
  font-style: italic;
  line-height: 1.1;
  margin-top: 8px;
  opacity: 0.6;
}
.hidden {
  display: none;
}
.quote {
  font-family: cursive;
  font-size: 18px;
  text-align: left;
  line-height: 2;
  margin-top: 20px;
  padding: 30px;
  border-left: 1px solid rgb(178, 69, 110);
}
.quote strong {
  color: #B1446D;
}
a {
  color: #7D007B;
}
footer {
  font-weight: 200;
  text-align: center;
  margin-top: 30px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
